
.animation-menushow__active,
.animation-menuhide__active {
  transition: opacity $menu-transition-duration, transform $menu-transition-duration;
}

.animation-menushow__first,
.animation-menuhide__second {
  transform: scale(0.8,0.8);
  opacity:0
}
.animation-menushow__second,
.animation-menuhide__first
{
  transform: scale(1,1);
  opacity:1
}

.animation-menushow__active.menu-position__dockedBottom,
.animation-menushow__active.menu-position__dockedRight,
.animation-menushow__active.menu-position__dockedLeft  {
  transition: transform $menu-transition-duration;
}

.animation-menushow__first.menu-position__dockedBottom,
.animation-menuhide__second.menu-position__dockedBottom {
  transform: translateY(100%)
}
.animation-menushow__second.menu-position__dockedBottom,
.animation-menuhide__first.menu-position__dockedBottom {
  transform: translateY(0)
}

.animation-menushow__first.menu-position__dockedRight,
.animation-menuhide__second.menu-position__dockedRight {
  transform: translateX(100%)
}
.animation-menushow__second.menu-position__dockedRight,
.animation-menuhide__first.menu-position__dockedRight,
.animation-menushow__second.menu-position__dockedLeft,
.animation-menuhide__first.menu-position__dockedLeft {
  transform: translateX(0)
}

.animation-menushow__first.menu-position__dockedLeft,
.animation-menuhide__second.menu-position__dockedLeft {
  transform: translateX(-100%)
}

.animation-menupop__active,
.animation-menuresize__active {
  transition: margin-left $menu-transition-duration;
}
