@import 'theme.scss';

.menu-item {
    font-size:1rem;
    box-sizing: border-box;
    color: $menu-text;
    background:0;
    border:none;
    padding:0 1rem;
    margin:0;
    height:3rem;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    min-width:3rem;
    width:100%;

    &:focus {
      outline-width: 4px;
      outline-offset:-4px;
      outline-style: solid;
    }

    &:hover {
      background:$menu-hover-background;
    }
    &:active {
      background: $menu-pressed-background;
    }
  }

.round-top {
  border-top-right-radius: $menu-border-radius;
  border-top-left-radius: $menu-border-radius; 
}
.round-bottom {
  border-bottom-right-radius: $menu-border-radius;
  border-bottom-left-radius: $menu-border-radius; 
}
.round-left {
  border-top-left-radius: $menu-border-radius;
  border-bottom-left-radius: $menu-border-radius; 
}
.round-right {
  border-top-right-radius: $menu-border-radius;
  border-bottom-right-radius: $menu-border-radius; 
}


.menu-item-nestedIcon,
.menu-item__back .menu-item-icon svg {
  fill: currentColor;
  width:2rem;
  height:2rem;
}

.menu-item-icon {
  height:2rem;
  width:2rem;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-grow:0;
  flex-shrink:0;
}

.menu-item-label {
  text-align:left;
  display:flex;
  flex-grow:1;
  flex-basis:100%;
}

:host-context([data-hasicons=false]) .menu-item-icon {
  display:none;
}

/*** For Toolbar ***/

:host-context(wam-toolbar wam-item:first-of-type) .menu-item {
  border-top-left-radius: $menu-border-radius;
  border-bottom-left-radius: $menu-border-radius;
}

:host-context(wam-toolbar wam-item + wam-item) .menu-item {
  border-left: $menu-border;
  border-top-left-radius:0;
  border-bottom-left-radius:0;
}

:host-context(wam-toolbar wam-item:last-of-type) .menu-item {
  border-top-right-radius: $menu-border-radius;
  border-bottom-right-radius: $menu-border-radius; 
}

:host-context(wam-toolbar) .menu-item-label {
  display:none
}

:host-context(wam-toolbar[showtoolbarlabel]) .menu-item-label,
:host-context(wam-item[showtoolbarlabel]) .menu-item-label {
  display:block;
}

/** for popup */

//:host-context(wam-popup) .menu-item,
:host-context(wam-popup):first-child .menu-item {
  border-top-right-radius: $menu-border-radius;
  border-top-left-radius: $menu-border-radius; 
}