@import 'theme.scss';

.item {
    color:inherit;
    font-size: inherit;
    font-family:inherit;
    font-weight:inherit;
    box-sizing: border-box;
    background: $menu-item-background;
    border:0;
    padding:0 0.5rem;
    margin:0;
    height:3rem;
    display:flex;
    align-items: center;
    justify-content:flex-start;
    min-width:3rem;
    width:100%;
    
    &::-moz-focus-inner {
      border:0;
    }

    &:focus {
      outline: $menu-focus-width solid transparent;
      outline-offset: calc(-1 * #{$menu-focus-width});
      box-shadow: inset 0 0 0 $menu-focus-width $menu-focus-color;
    }

    &:hover {
      background: $menu-hover-background;
    }
    &:active {
      background: $menu-pressed-background;
    }
  }

.icon {
  height:1.5rem;
  width:1.5rem;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-grow:0;
  flex-shrink:0;
  padding: 0.25rem;

  svg {
    fill: currentColor;
    width:1.5rem;
    height:1.5rem;
  }
}

.label {
  text-align:left;
  display:flex;
  flex-grow:1;
  flex-basis:100%;
  padding: 0 0.25rem;
}

[aria-disabled="true"] {
  .label, .icon {
    opacity:0.8;
    font-style:italic;
  }
}

[data-icon="false"] .icon {display:none;}

[data-label="false"] .label {display:none}

[data-round-top-right] {border-top-right-radius: $menu-border-radius;}
[data-round-top-left] {border-top-left-radius: $menu-border-radius; }
[data-round-bottom-left] {border-bottom-left-radius: $menu-border-radius;}
[data-round-bottom-right] {border-bottom-right-radius: $menu-border-radius;}

