@import 'theme.scss';

[role=menubar]{
  display: flex;
  flex-direction: row;
  background: $menu-background;
  border-width: $menu-border-width;
  border-color: $menu-border-color;
  border-radius: $menu-border-radius;
  border-style: solid;
  color: $menu-text-color;
  font-family: $menu-font;
}

[role=menubar][aria-orientation="vertical"] {
  display: inline-flex;
  flex-direction: column;
}