$menu-border:1px solid #808080 !default;
$menu-background:#e0e0e0 !default;
$menu-text:#202020 !default;
$menu-transition-duration: 0.4s !default;
$menu-border-radius: 0.125rem !default;
$menu-highlight-color: #40C4FF !default;

$menu-hover-background: rgba($menu-highlight-color, 0.5) !default;
$menu-pressed-background: $menu-highlight-color !default;

@mixin focus() {
  &:focus {
      outline-width: 4px;
      outline-offset:-4px;
      outline-style: solid;
  }
}

.menu {
  border-radius: $menu-border-radius;
  border: $menu-border;    
  background: $menu-background;
  padding:0;
  margin:0;
  position:relative;
}

@import 'animation.scss';

@import 'item.scss';
@import 'toolbar.scss';
@import 'listcontainer.scss';
@import 'position.scss';
@import 'popup.scss';
@import 'submenu.scss';
