@import 'theme.scss';

.menu {
  border-radius: #{$menu-border-radius};
  border-radius: calc(#{$menu-border-radius} + #{$menu-border-width});
  border: $menu-border; 
  background: $menu-background;
  box-shadow: $menu-shadow;
  padding:0;
  margin:0;
  position:relative;
  display:inline-block;
  pointer-events: auto;
}

.menu-inner {
  display:inline-block;
}

/*:host {
  border-radius: $menu-border-radius;
  color: $menu-text-color;
  font-family: $menu-font;
  z-index: 1; // push above other things
  pointer-events: none; // stop from blocking clicks if the host is sized, but the menu is hidden
}*/


.menu.animation-show__second,
.menu.animation-hide__second {
  transition: opacity $menu-transition-duration, transform $menu-transition-duration;
}

.menu.animation-show__first,
.menu.animation-hide__second {
  transform: var(#{--menu-transition-transform}, scale3d(0.8,0.8,1));
  opacity: var(#{--menu-transition-opacity}, 0);
}
.menu.animation-show__second,
.menu.animation-hide__first
{
  transform: scale3d(1,1,1);
  opacity:1
}


:host {

  color: $menu-text-color;
  font-family: $menu-font;
}


/* [part="popup"] */
[role="menu"] {
  display: none;
}

/* Open menu
 [part="popup"] */
[aria-expanded=true] + [role=menu] {
  position: absolute;
  display: flex;
  flex-direction: column;
  border: $menu-border;
  border-radius: $menu-border-radius;
  background: $menu-background;
}

[role=menu][aria-orientation=horizontal] {
  flex-direction:row;
}

[role=menuitem][data-parent-type=""] {
  display: none;
}
