
.menu_position__dockedRight,
.menu-position__dockedLeft,
.menu-position__dockedBottom,
.menu-position__popup,
.menu-position__absolute {
  position:absolute;
  z-index:30;
}


.menu-position__dockedRight,
.menu-position__dockedLeft {
  max-height:unset;
}

.menu-position__dockedBottom {
  max-width:unset;
  width:unset;
}
