@import 'theme.scss';

:host {
  cursor: none;
  margin: $menu-margin;
  display: block;
}

div[data-parent-orientation=vertical] {
  border-top: $menu-border;
}

div[data-parent-orientation=horizontal] {
  border-left: $menu-border;
  height:100%;
}
