.submenu-outer {
    position: absolute;
    top:0;
    width:100%;
    transform: translateX(100%);
    box-sizing:border-box;
}

.submenu-inner{
    width:100%;
    box-sizing:border-box;
    display:flex;
    flex-direction: column;

    slot {
        display: block;
        flex: 1 1 auto;
        overflow-y: auto;
    }
}

.back {
    flex: 0 0 3rem;
}

