.submenu-outer {
    position: absolute;
    top:0;
    width:100%;
    transform: translateX(100%);
    box-sizing:border-box;
}

.submenu-inner{
    width:100%;
    overflow-y:auto;
    padding-top: 3rem;
    box-sizing:border-box;
}

.back {
    position:fixed;
    top:0;
    width:100%;
}