.menu-toolbar {
    display:inline-block; // shrink wrap;
    border-radius: $menu-border-radius;
    border: $menu-border;    
    background: $menu-background;
    padding:0;
    margin:0;
    display:flex;
    flex-direction:row;

  
    webapp-menu-item {
      min-width:3rem;
    }
  
  
    webapp-menu-item:first-child {
      border-top-left-radius: $menu-border-radius;
      border-bottom-left-radius: $menu-border-radius;
    }
  
    webapp-menu-item:last-child,
    .menu-item__last {
      border-top-right-radius: $menu-border-radius;
      border-bottom-right-radius: $menu-border-radius; 
    }
  

  }

  :host-context(.menu-toolbar) .menu-item-label {display:none};

webapp-menu-toolbar webapp-menu-item + webapp-menu-item  {
    border-left: $menu-border;
    border-top-left-radius:0;
    border-bottom-left-radius:0;
  }