@import 'theme.scss';

$menu-width:18rem;
$menu-max-height: 80vh;

.menu-outer {
    overflow: hidden;
    display:block;
}

.menu-inner {
    width:100%;
    display:inline-block;
    position:relative;
}

:host {
    display: block;
    width: $menu-width;
    max-height: $menu-max-height;
}

.animation-stack__active {
    transition: height $menu-transition-duration;

    .menu-inner {
        transition: transform $menu-transition-duration;
    }
}